                <details class="smobile SMOBILE_EX" id="smobile-solutions" data-smenu="1">
                    <summary class="smobile__summary">
                        <span data-i18n="common.solutions">Solutions</span>
                        <i class="fas fa-chevron-down smobile__chev" aria-hidden="true"></i>
                    </summary>
                    <div class="smobile__body">
                        <a href="solutions.html" class="smobile__toplink" data-i18n="solutions.megaAllSolutions">Toutes les solutions</a>
                        <div class="smobile__stack">
                            <a href="solution-detail.html?scenario=apartments" class="smobile__link" data-i18n="solutions.apartments">Appartements</a>
                            <a href="solution-detail.html?scenario=factories" class="smobile__link" data-i18n="solutions.factories">Usines</a>
                            <a href="solution-detail.html?scenario=offices" class="smobile__link" data-i18n="solutions.offices">Bureaux</a>
                            <a href="solutions.html#solutions-scenarios" class="smobile__link smobile__link--strong" data-i18n="solutions.megaOpenCatalogue">Catalogue complet</a>
                        </div>
                    </div>
                </details>
